@model DimiAuto.Web.ViewModels.Home.AllCarsModel
@using DimiAuto.Web.ViewModels.Home
@using DimiAuto.Common;
@using Microsoft.AspNetCore.Identity
@using DimiAuto.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "_ListCarsPartial";
    var counter = 0;
}

@foreach (var car in Model.AllCars)
{
    <div class="col-lg-6 col-md-6" onload="loadModel('@car.Id')">
        <div class="single-car-wrap">
            <div class="car-list-thumb">
                <img style="width:600px; height:300px;" src="@car.ImgPath">
            </div>
            <div class="car-list-info without-bar">
                <a href="/Ad/Details/id=@car.Id"> <h3>@car.Make<br /></h3> <h4>@car.ModelToString @car.Modification</h4></a>
                <h5>@car.User.NameOfCompany</h5>
                <p>@car.MoreInformation</p>
                <ul class="car-info-list">
                    <li>@car.YearOfProduction.ToString("MM.yyyy")</li>
                    <li>@car.Fuel</li>
                    <li>@car.Gearbox</li>
                </ul>
                <p class="price">Price: @car.Price BGN</p>
                <form id="form" method="post"></form>



                <a href="/Ad/Details?id=@car.Id" class="rent-btn">Details</a>
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <a data-toggle="tooltip" data-placement="top" title="Add to favorite" style="display:inline-block; float:right;" onclick="addToFav('@car.Id')"><img src="~/images/star.png" id="addToFav" class="searchClass"></a>
                    <a id="addToCompareBtn@(++counter)" data-toggle="tooltip" data-placement="top" title="Add for compare" style="display:inline-block; margin-right:10px; float:right;" onclick="addToCompare('@car.Id','@car.Make','@car.ModelToString','@car.ImgPath')"><img src="~/images/compare.png" id="addToFav" class="searchClass"></a>
                }

                <div style="display: none;" class="alert alert-danger" role="alert" id="@car.Id">
                    This ad is already added to favorite!
                </div>
                <div style="display: none;" class="alert alert-success" role="alert" id="add_@car.Id">
                    This ad is added to favorite successfully!
                </div>
            </div>
        </div>
    </div>

}

