@model DimiAuto.Web.ViewModels.Home.SearchInputModel
@using DimiAuto.Data.Models.CarModel

@{
    this.ViewData["Title"] = "Home Page";
}




<section id="slider-area" >

    <div class="single-slide-item overlay" style="margin-bottom: -20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form method="post" id="form"></form>
                        <form asp-controller="Home" asp-action="AllByCriteria" method="get">

                            <div class="pickup-location book-item">
                                <h4>Choose condition of vehicle:</h4>
                                <select asp-for="Condition" class="custom-select" asp-items="@Html.GetEnumSelectList<Condition>()"></select>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>Choose type of vehicle:</h4>
                                <select asp-for="TypeOfVeichle" class="custom-select" asp-items="@Html.GetEnumSelectList<TypeOfVeichle>()"></select>
                            </div>

                            <div class="pick-up-date book-item form-row">
                                <div class="col-md-6">
                                    <h4>Choose make</h4>
                                    <select asp-for="Make" class="form-control" asp-items="@Html.GetEnumSelectList<Make>()" id="make" onchange="loadModels()"></select>
                                </div>
                                <div class=" col-md-6">
                                    <h4>Choose model</h4>
                                    <select asp-for="Model" class="form-control" id="model"></select>
                                </div>
                            </div>
                            <div class="pick-up-date book-item form-row">
                                <div class="col-md-6">
                                    <h4>Choose fuel</h4>
                                    <select asp-for="Fuel" class="form-control" asp-items="@Html.GetEnumSelectList<Fuel>()"></select>
                                </div>
                                <div class="col-md-6">
                                    <h4>and gearbox</h4>
                                    <select asp-for="GearBox" class="form-control" asp-items="@Html.GetEnumSelectList<GearBox>()"></select>
                                </div>
                            </div>

                            <div class="pick-up-date book-item form-row">
                                <div class="col-md-6">
                                    <h4>Year from</h4>
                                    <input asp-for="YearFrom" type="text" placeholder="Search from year" />
                                </div>
                                <div class="col-md-6">
                                    <h4>Year to</h4>
                                    <input asp-for="YearTo" type="text" placeholder="to year" />
                                </div>
                            </div>
                            <div class="pick-up-date book-item form-row">
                                <div class="col-md-6">
                                    <h4>Price from</h4>
                                    <input asp-for="PriceFrom" type="text" placeholder="Price from" />
                                </div>
                                <div class="col-md-6">
                                    <h4>Price to</h4>
                                    <input asp-for="PriceTo" type="text" placeholder="to price" />
                                </div>
                            </div>
                            <div class="book-button text-center">
                                <button class="book-now-btn">Search</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>CHOOSE YOUR NEW CAR!</h1>
                                <p>THE BEST OFFERS ON THE INTERNET <br> FOR OUR RETURNING CUSTOMERS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    function loadModels() {
        var make = $("#make option:selected").text();
        var token = $("#form input[name=__RequestVerificationToken]").val();
        var json = { make: make };
        console.log(token);
        console.log(json);
        $.ajax({
            url: "/api/apiAd/loadMakeModels",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {
                $('#model')
                    .find('option')
                    .remove()
                    .end();
                var models = data["models"];
                 if (models != "-") {
                    for (var i = 0; i < models.length; i++) {
                        if (models[i][0] == "_") {
                            models[i] = models[i].substring(1);
                        }
                        $("#model").append(`<option value="${i + 1}">
                                                   ${models[i]}
                                              </option>`);
                        console.log(models[i]);
                    }
                } 
            }
        });
    }
</script>
