@model DimiAuto.Web.ViewModels.Administration.AllUsersViewModel

@{
    ViewData["Title"] = "AllUsers";
}


<div id="page">
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                    <div class="my-account">
                        <!--page-title-->
                        <!-- BEGIN DASHBOARD-->



                        <div class="box-account">
                            <div class="recent-orders">
                                <div class="table-responsive">
                                    <table class="data-table table-striped" id="my-orders-table">
                                        <colgroup>
                                            <col width="">
                                            <col width="">
                                            <col>
                                            <col width="1">
                                            <col width="1">
                                            <col width="20%">
                                        </colgroup>
                                        <thead>
                                            <tr class="first last">
                                                <th>Created on</th>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Statuse</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @if (Model.Users.Count() == 0)
                                            {
                                                <h3>There are no users in the site.</h3>
                                            }
                                            else
                                            {
                                                @foreach (var user in Model.Users)
                                                {
                                                    <tr class="first odd">
                                                        <td><span class="nobr"><time datetime="@user.CreatedOn.ToString("O")"></time></span></td>
                                                        <td>@user.UserName</td>
                                                        <td>@user.Email</td>
                                                        <td>@user.Statuse</td>
                                                        <td class="a-center last details">
                                                            <span class="nobr">
                                                                <a data-toggle="tooltip" data-placement="top" title="Details" style="display:inline-block;margin-left:10px;" href="/Administration/Administration/UserDetails?id=@user.Id"><img class="iconClass" src="~/images/detailsIcon.png"></a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }

                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <partial @Html.Partial("~/Views/MyAccount/_AccountNavPartial.cshtml", Model)></partial>

            </div>
        </div>
    </section>
</div>