@model DimiAuto.Web.ViewModels.Ad.CarDetailsModel
@using Microsoft.AspNetCore.Identity
@using DimiAuto.Common
@using DimiAuto.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}





<div class="container">
    <body onload="checkBtns()">
        <section id="car-list-area" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">


                        <div class="car-details-content">
                            <h2>@Model.CarDetailsVIewModel.Make @Model.CarDetailsVIewModel.ModelToString @Model.CarDetailsVIewModel.Modification<span class="priceDetails">Price: <b>@Model.CarDetailsVIewModel.Price BGN</b></span></h2>
                            <div class="car-preview-crousel">
                                <!--Carousel Wrapper-->
                                <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-2" data-slide-to="0" class="active" style="color: yellow"></li>
                                        @for (int i = 1; i < @Model.CarDetailsVIewModel.ImgsPaths.Count(); i++)
                                        {
                                            <li data-target="#carousel-example-2" data-slide-to="@i"></li>
                                        }
                                    </ol>
                                    <!--/.Indicators-->
                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            <div class="view">
                                                <img class="d-block w-100" src="@GlobalConstants.CloudinaryPathDimitur98@Model.CarDetailsVIewModel.ImgsPaths.First()" id="imgDef">
                                                <div class="mask rgba-black-light"></div>
                                            </div>

                                        </div>
                                        @foreach (var imgPath in Model.CarDetailsVIewModel.ImgsPaths.Skip(1))
                                        {
                                            <div class="carousel-item">
                                                <div class="view">
                                                    <img class="d-block w-100" src="@GlobalConstants.CloudinaryPathDimitur98@imgPath" alt="First slide">
                                                    <div class="mask rgba-black-light"></div>
                                                </div>

                                            </div>
                                        }


                                    </div>
                                    <!--/.Slides-->
                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->
                            </div>
                            <div class="car-details-info">
                                <h4>More Info</h4>
                                <p>@Model.CarDetailsVIewModel.MoreInformation</p>
                                <div class="technical-info">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="tech-info-table">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th>Condition</th>
                                                        <td>@Model.CarDetailsVIewModel.Condition</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Class</th>
                                                        <td>@Model.CarDetailsVIewModel.Type</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Fuel</th>
                                                        <td>@Model.CarDetailsVIewModel.Fuel</td>
                                                    </tr>
                                                    <tr>
                                                        <th>HorsePower</th>
                                                        <td>@Model.CarDetailsVIewModel.Horsepowers</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Doors</th>
                                                        <td>@Model.CarDetailsVIewModel.Door</td>
                                                    </tr>
                                                    <tr>
                                                        <th>GearBox</th>
                                                        <td>@Model.CarDetailsVIewModel.Gearbox</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="tech-info-table">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th>Year of production</th>
                                                        <td>@Model.CarDetailsVIewModel.YearOfProduction</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Kilometers</th>
                                                        <td>@Model.CarDetailsVIewModel.Km</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Color</th>
                                                        <td>@Model.CarDetailsVIewModel.Color</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Cc</th>
                                                        <td>@Model.CarDetailsVIewModel.Cc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Euro standart</th>
                                                        <td>@Model.CarDetailsVIewModel.EuroStandart</td>
                                                    </tr>
                                                    <tr>
                                                        <th>@ViewData["ip"]</th>
                                                        <td>@Model.CarDetailsVIewModel.EuroStandart</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="tech-info-list">
                                                <ul>

                                                    @foreach (var extra in Model.CarDetailsVIewModel.Extras)
                                                    {
                                                        <li>@extra </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-heading" onclick="showComments()" id="commentTitle">
                                    Show comments
                                </div>
                                <div class="row bootstrap snippets" id="commentsSection" style="display: none">
                                    <div class="col-md-6 col-md-offset-2 col-sm-12">
                                        <div class="comment-wrapper">
                                            <div class="panel panel-info">
                                                <div class="panel-heading" onclick="hideComments()">
                                                    Hide comments
                                                </div>
                                                <div class="panel-body">

                                                    <div class="clearfix"></div>
                                                    <hr>
                                                    <ul class="media-list">
                                                        @if (@Model.CarDetailsVIewModel.Comments.Count() == 0)
                                                        {
                                                            <li>
                                                                <p>There are no comments yet.</p>
                                                            </li>
                                                        }
                                                        @foreach (var comment in @Model.CarDetailsVIewModel.Comments)
                                                        {
                                                            <li class="media">
                                                                <a href="#" class="pull-left">
                                                                    <img src="@comment.User.UserImg" alt="" class="img-circle">
                                                                </a>
                                                                <div class="media-body">
                                                                    <span class="text-muted pull-right">
                                                                        <small class="text-muted"><time datetime="@comment.CreatedOn.ToString("O")"></time></small>
                                                                    </span>
                                                                    <strong class="text-success">@comment.Title</strong>
                                                                    @if (comment.UserId == Model.CarDetailsVIewModel.CurrentUserId || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                                    {
                                                                        <a class="fa fa-minus-circle" href="/Ad/DeleteComment?commentId=@comment.Id&carId=@Model.CarDetailsVIewModel.Id"></a>
                                                                    }
                                                                    <p>
                                                                        @comment.Content
                                                                    </p>
                                                                </div>
                                                            </li>

                                                        }

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review-area">
                                <div class="panel-heading">
                                    Add comment for the ad.
                                </div>
                                <div class="review-form">
                                    <form method="post" asp-controller="Ad" asp-action="Details" id="form">
                                        <input asp-for="CarCommentsInputModel.CarId" value="@Model.CarDetailsVIewModel.Id" type="hidden">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="name-input">
                                                <input asp-for="CarCommentsInputModel.Title" type="text" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="message-input">
                                            <textarea asp-for="CarCommentsInputModel.Content" cols="30" rows="5" placeholder="Write comment here!"></textarea>
                                        </div>

                                        <div class="input-submit">
                                            <button type="submit">Submit</button>
                                            <button type="reset">Clear</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="sidebar-content-wrap m-t-50">
                        <div class="sidebar-body">
                            <p><i class="fa fa-eye"></i>Views:@Model.CarDetailsVIewModel.Views</p>
                        </div>
                        <div class="single-sidebar">

                            <h3>Contacts</h3>

                            <div class="sidebar-body">
                                <p><i class="fa fa-location-arrow"></i> @Model.CarDetailsVIewModel.User.Adress, @Model.CarDetailsVIewModel.User.City</p>
                                <p><i class="fa fa-address-card"></i> @Model.CarDetailsVIewModel.User.FirstName @Model.CarDetailsVIewModel.User.LastName</p>
                                <p><i class="fa fa-product-hunt"></i> @Model.CarDetailsVIewModel.User.NameOfCompany</p>
                                @if (Model.CarDetailsVIewModel.User.NameOfCompany == "Private person")
                                {
                                    <p><i class="fa fa-mobile"></i> @Model.CarDetailsVIewModel.User.PhoneNumber</p>
                                }
                                else
                                {
                                    <p><i class="fa fa-mobile"></i> @Model.CarDetailsVIewModel.User.TelephoneForCustomers</p>
                                }


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a onclick="admin('@Model.CarDetailsVIewModel.Id','approve')" id="approve" class="btn btn-secondary btn-success">Approve</a>
                        <a onclick="admin('@Model.CarDetailsVIewModel.Id','deleteAd')" id="delete" class="btn btn-secondary btn-warning">Delete</a>
                        <a onclick="admin('@Model.CarDetailsVIewModel.Id','undelete')" id="undelete" class="btn btn-secondary ">UnDelete</a>
                        <div class="btn btn-secondary btn-light" value="@Model.CarDetailsVIewModel.Statuse" id="statuse">Statuse: @Model.CarDetailsVIewModel.Statuse</div>
                    </div>

                }
            }

        </section>
    </body>
</div>
<script>
    function admin(input, action) {
        var token = $("#form input[name=__RequestVerificationToken]").val();
        var json = { id: input };
        $.ajax({
            url: "/api/administration/administrationControl/" + action,
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {

                if (data["action"] == "Undelete") {
                    document.getElementById("statuse").innerHTML = "Approved, Not deleted";
                    document.getElementById("delete").style.display = "block";
                    document.getElementById("undelete").style.display = "none";
                } else if (data["action"] == "Approve") {
                    document.getElementById("statuse").innerHTML = "Approved, Not deleted";
                    document.getElementById("approve").style.display = "none";
                    document.getElementById("delete").style.display = "block";
                } else if (data["action"] == "Delete") {
                    document.getElementById("statuse").innerHTML = "Approved, Deleted";
                    document.getElementById("delete").style.display = "none";
                    document.getElementById("undelete").style.display = "block";

                }
            }
        });
    }
</script>
<script>
    function hideComments() {
        document.getElementById("commentsSection").style.display = "none";
        document.getElementById("commentTitle").style.display = "block";
    }
</script>
<script>
    function showComments() {
        document.getElementById("commentsSection").style.display = "block";
        document.getElementById("commentTitle").style.display = "none";
    }
</script>
<script>
    function checkBtns() {
        var approve = document.getElementById("statuse").innerHTML.split(", ")[0];
        var deleteStatuse = document.getElementById("statuse").innerHTML.split(", ")[1];
        console.log(approve);
        if (approve == "Statuse: Approved") {
            document.getElementById("approve").style.display = "none";
            if (deleteStatuse == "Deleted") {
                document.getElementById("delete").style.display = "none";
                document.getElementById("undelete").style.display = "block";

            } else {
                document.getElementById("delete").style.display = "block";
                document.getElementById("undelete").style.display = "none";
            }
        } else {
            document.getElementById("approve").style.display = "block";
            document.getElementById("delete").style.display = "none";
            document.getElementById("undelete").style.display = "none";
        }


    }
</script>
