@model DimiAuto.Web.ViewModels.Ad.CarDetailsModel
@using Microsoft.AspNetCore.Identity
@using DimiAuto.Common
@using DimiAuto.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}





<div class="container">
    <body onload="checkBtns()">
        <section id="car-list-area" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">


                        <div class="car-details-content">
                            <h2>@Model.CarDetailsViewModel.Make @Model.CarDetailsViewModel.ModelToString @Model.CarDetailsViewModel.Modification<span class="priceDetails">Price: <b>@Model.CarDetailsViewModel.Price BGN</b></span></h2>
                            <div class="car-preview-crousel">
                                <!--Carousel Wrapper-->
                                <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-2" data-slide-to="0" class="active" style="color: yellow"></li>
                                        @for (int i = 1; i < @Model.CarDetailsViewModel.ImgsPaths.Count(); i++)
                                        {
                                            <li data-target="#carousel-example-2" data-slide-to="@i"></li>
                                        }
                                    </ol>
                                    <!--/.Indicators-->
                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            <div class="view">
                                                <img class="d-block w-100" src="@GlobalConstants.CloudinaryPathDimitur98@Model.CarDetailsViewModel.ImgsPaths.First()" id="imgDef">
                                                <div class="mask rgba-black-light"></div>
                                            </div>

                                        </div>
                                        @foreach (var imgPath in Model.CarDetailsViewModel.ImgsPaths.Skip(1))
                                        {
                                            <div class="carousel-item">
                                                <div class="view">
                                                    <img class="d-block w-100" src="@GlobalConstants.CloudinaryPathDimitur98@imgPath" alt="First slide">
                                                    <div class="mask rgba-black-light"></div>
                                                </div>

                                            </div>
                                        }


                                    </div>
                                    <!--/.Slides-->
                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->
                            </div>
                            <div class="car-details-info">
                                <h4>More Info</h4>
                                <p>@Model.CarDetailsViewModel.MoreInformation</p>
                                <div class="technical-info">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="tech-info-table">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th>Condition</th>
                                                        <td>@Model.CarDetailsViewModel.Condition</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Class</th>
                                                        <td>@Model.CarDetailsViewModel.Type</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Fuel</th>
                                                        <td>@Model.CarDetailsViewModel.Fuel</td>
                                                    </tr>
                                                    <tr>
                                                        <th>HorsePower</th>
                                                        <td>@Model.CarDetailsViewModel.Horsepowers</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Doors</th>
                                                        <td>@Model.CarDetailsViewModel.Door</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Gearbox</th>
                                                        <td>@Model.CarDetailsViewModel.Gearbox</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="tech-info-table">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th>Year of production</th>
                                                        <td>@Model.CarDetailsViewModel.YearOfProduction</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Kilometers</th>
                                                        <td>@Model.CarDetailsViewModel.Km</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Color</th>
                                                        <td>@Model.CarDetailsViewModel.Color</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Cc</th>
                                                        <td>@Model.CarDetailsViewModel.Cc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Euro standart</th>
                                                        <td>@Model.CarDetailsViewModel.EuroStandart</td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="tech-info-list">
                                                <ul>

                                                    @foreach (var extra in Model.CarDetailsViewModel.Extras)
                                                    {
                                                        <li>@extra </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-heading" onclick="showComments()" id="commentTitle">
                                    Show comments
                                </div>

                                <partial name="_ListCommentsPartial">

                            </div>
                            <div class="review-area">
                                <div class="panel-heading">
                                    Add comment for the ad.
                                </div>

                               <partial name="_AddCommentPartial">

                            </div>
                        </div>
                    </div>
                    <div class="sidebar-content-wrap m-t-50">
                        <div class="sidebar-body">
                            <p><i class="fa fa-eye"></i>Views:@Model.CarDetailsViewModel.Views</p>
                        </div>
                        <div class="single-sidebar">

                            <h3>Contacts</h3>

                            <div class="sidebar-body">
                                <p><i class="fa fa-location-arrow"></i> @Model.CarDetailsViewModel.User.Adress, @Model.CarDetailsViewModel.User.City</p>
                                <p><i class="fa fa-address-card"></i> @Model.CarDetailsViewModel.User.FirstName @Model.CarDetailsViewModel.User.LastName</p>
                                <p><i class="fa fa-envelope"></i> @Model.CarDetailsViewModel.User.Email</p>
                                <p><i class="fa fa-product-hunt"></i> @Model.CarDetailsViewModel.User.NameOfCompany</p>
                                @if (Model.CarDetailsViewModel.User.NameOfCompany == "Private person")
                                {
                                    <p><i class="fa fa-mobile"></i> @Model.CarDetailsViewModel.User.PhoneNumber</p>
                                }
                                else
                                {
                                    <p><i class="fa fa-mobile"></i> @Model.CarDetailsViewModel.User.TelephoneForCustomers</p>
                                }

                                <p><i class="fa fa-link"></i><a href="/Home/UserCars?id=@Model.CarDetailsViewModel.UserId">See other user's cars</a><p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a onclick="admin('@Model.CarDetailsViewModel.Id','approve')" id="approve" class="btn btn-secondary btn-success">Approve</a>
                        <a onclick="admin('@Model.CarDetailsViewModel.Id','deleteAd')" id="delete" class="btn btn-secondary btn-warning">Delete</a>
                        <a onclick="admin('@Model.CarDetailsViewModel.Id','undelete')" id="undelete" class="btn btn-secondary ">UnDelete</a>
                        <div class="btn btn-secondary btn-light" value="@Model.CarDetailsViewModel.Statuse" id="statuse">Statuse: @Model.CarDetailsViewModel.Statuse</div>
                    </div>

                }
            }

        </section>
    </body>
</div>

