@model DimiAuto.Web.ViewModels.Ad.CarDetailsModel

@{
    ViewData["Title"] = "Details";
}






<!--== Car List Area Start ==-->
<section id="car-list-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Car List Content Start -->
            <div class="col-lg-8">
                <div class="car-details-content">
                    <h2>@Model.CarDetailsVIewModel.Make @Model.CarDetailsVIewModel.Model @Model.CarDetailsVIewModel.Modification<span class="priceDetails">Price: <b>@Model.CarDetailsVIewModel.Price BGN</b></span></h2>
                    <div class="car-preview-crousel">
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-2" data-slide-to="0" class="active" style="color: yellow"></li>
                                @for (int i = 1; i < @Model.CarDetailsVIewModel.ImgsPaths.Count(); i++)
                                {
                                    <li data-target="#carousel-example-2" data-slide-to="@i"></li>
                                }
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="view">
                                        <img class="d-block w-100" src="@Model.CarDetailsVIewModel.ImgsPaths.First()" alt="First slide">
                                        <div class="mask rgba-black-light"></div>
                                    </div>

                                </div>
                                @foreach (var imgPath in Model.CarDetailsVIewModel.ImgsPaths.Skip(1))
                                {
                                    <div class="carousel-item">
                                        <div class="view">
                                            <img class="d-block w-100" src="@imgPath" alt="First slide">
                                            <div class="mask rgba-black-light"></div>
                                        </div>

                                    </div>
                                }


                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <div class="car-details-info">
                        <h4>More Info</h4>
                        <p>@Model.CarDetailsVIewModel.MoreInformation</p>
                        <div class="technical-info">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tech-info-table">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Condition</th>
                                                <td>@Model.CarDetailsVIewModel.Condition</td>
                                            </tr>
                                            <tr>
                                                <th>Class</th>
                                                <td>@Model.CarDetailsVIewModel.Type</td>
                                            </tr>
                                            <tr>
                                                <th>Fuel</th>
                                                <td>@Model.CarDetailsVIewModel.Fuel</td>
                                            </tr>
                                            <tr>
                                                <th>HorsePower</th>
                                                <td>@Model.CarDetailsVIewModel.Horsepowers</td>
                                            </tr>
                                            <tr>
                                                <th>Doors</th>
                                                <td>@Model.CarDetailsVIewModel.Door</td>
                                            </tr>
                                            <tr>
                                                <th>GearBox</th>
                                                <td>@Model.CarDetailsVIewModel.Gearbox</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="tech-info-table">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Year of production</th>
                                                <td>@Model.CarDetailsVIewModel.YearOfProduction</td>
                                            </tr>
                                            <tr>
                                                <th>Kilometers</th>
                                                <td>@Model.CarDetailsVIewModel.Km</td>
                                            </tr>
                                            <tr>
                                                <th>Color</th>
                                                <td>@Model.CarDetailsVIewModel.Color</td>
                                            </tr>
                                            <tr>
                                                <th>Cc</th>
                                                <td>@Model.CarDetailsVIewModel.Cc</td>
                                            </tr>
                                            <tr>
                                                <th>Euro standart</th>
                                                <td>@Model.CarDetailsVIewModel.EuroStandart</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <div class="tech-info-list">
                                        <ul>

                                            @foreach (var extra in Model.CarDetailsVIewModel.Extras)
                                            {
                                                <li>@extra </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-heading" onclick="showComments()" id="commentTitle">
                            Show comments
                        </div>
                        <div class="row bootstrap snippets" id="commentsSection" style="display: none">
                            <div class="col-md-6 col-md-offset-2 col-sm-12">
                                <div class="comment-wrapper">
                                    <div class="panel panel-info">
                                        <div class="panel-heading" onclick="hideComments()">
                                            Hide comments
                                        </div>
                                        <div class="panel-body">

                                            <div class="clearfix"></div>
                                            <hr>
                                            <ul class="media-list">
                                                @if (@Model.CarDetailsVIewModel.Comments.Count() == 0)
                                                {
                                                    <li>
                                                        <p>There are no comments yet.</p>
                                                    </li>
                                                }
                                                @foreach (var comment in @Model.CarDetailsVIewModel.Comments)
                                                {
                                                    <li class="media">
                                                        <a href="#" class="pull-left">
                                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                        </a>
                                                        <div class="media-body">
                                                            <span class="text-muted pull-right">
                                                                <small class="text-muted">@comment.CreatedOn</small>
                                                            </span>
                                                            <strong class="text-success">@comment.Title</strong>
                                                            <p>
                                                                @comment.Content
                                                            </p>
                                                        </div>
                                                    </li>

                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-area">
                        <div class="panel-heading">
                            Add comment for the ad.
                        </div>
                        <div class="review-form">
                            <form method="post" asp-controller="Ad" asp-action="Details">

                                <div class="col-lg-6 col-md-6">
                                    <div class="name-input">
                                        <input asp-for="CarCommentsInputModel.Title" type="text" placeholder="Title">
                                    </div>
                                </div>
                                <div class="message-input">
                                    <textarea asp-for="CarCommentsInputModel.Content" cols="30" rows="5" placeholder="Write comment here!"></textarea>
                                </div>

                                <div class="input-submit">
                                    <button type="submit">Submit</button>
                                    <button type="reset">Clear</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-top">
            <img src="~/assets/img/scroll-top.png" alt="JSOFT">
        </div>
    </div>



</section>

<script>
    function hideComments() {
        document.getElementById("commentsSection").style.display = "none";
        document.getElementById("commentTitle").style.display = "block";
    }
</script>
<script>
    function showComments() {
        document.getElementById("commentsSection").style.display = "block";
        document.getElementById("commentTitle").style.display = "none";
    }
</script>